{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "plugins": [
    "source-map-support",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-bigint"
  ],
  "comments": false,
  "env": {
    "coverage": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "test",
              "build"
            ]
          }
        ]
      ]
    }
  }
}
